#container{
    height: 300px;
    width: 80%;
    background-color: bisque;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: antiquewhite;
    text-align: center;
}

#blue{
   flex: 2 2 100px;
}