.container{
    width: 600px;
    height: 300px;
    background-color: bisque;
    margin: 10px;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns:  auto auto auto;  
    grid-gap: 10px;
    
}

.item {
/*     width: 100px;
    height: 50px; */
    border: 1px solid black;
    text-align: center;
    background-color: greenyellow;
}

.container1{
    width: 600px;
    height: 300px;
    background-color: bisque;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item1 {
    border: 1px solid black;
    text-align: center;
    background-color: greenyellow;
    /* grid column */
    grid-row-start: 1;
    grid-row-end: 3;
}

.item11 {
    border: 1px solid black;
    text-align: center;
    background-color: greenyellow;
    /* grid column */
    grid-row :1/span 3;
}