.ani{
    height: 100px;
    width: 200px;
    background-color: rgb(73, 225, 225);
    /* animation  */
    animation: animation 2s ease-in 1s 4 normal ;
    
}

@keyframes animation {
    from{
        font-size: 20px;
        background-color: aqua;
        width: 200px;
    }
    to{
        font-size: 50px;
        background-color: greenyellow;
        width: 500px;
    }
}