.card {
    height: 300px;
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    display: inline-block;
    transition: 1s;
}

.desc{
    padding: 0 10px 3px 5px;
}

img {
   width: 100%;
   border-radius: 5px 5px 0 0; 
}

.card:hover{
    box-shadow: 0px 5px 16px rgb(250, 250, 94);
    
}