div{
    width: 600px;
    height: 300px;
    background-color: azure;
    margin: auto;
    margin-top: 10px;
    color: brown;
    font-size: 20PX;

    /* Background-image */
    background-image: url(background.jpg); /* default auto */
    background-size: cover; 
}

#two{
    background-image: url(background.jpg); 
    background-size: contain;
}

#three{
    background-image: url(background.jpg); 
    background-size: auto;
}