div{
    height: 100px;
    width: 100px;
    background-color: gray;
    text-align: center;
    margin: 20px;
    display: inline-block;
    border: 2px solid black;
}

#postion{
    background-color: bisque;
    position: fixed;

    top: 100px;
    left: 100px;

}