*{
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.main_box {
    background: url(photo.jpg);
    height: 100vh;           /* 100vh = 100% of view port */
    background-size: cover;
}

#check{
    display: none;
}

.btn_one {
   color: white;
   font-size: 25px;
   font-weight: 600;
   position: absolute;
   left: 14px;
   line-height: 40px;
}

.btn_two{
    color: rgba(128, 128, 128, 0.756);
    position: absolute;
    line-height: 40px;
    font-size: 25px;
    left: 320px;
    opacity: 0;  /* aa */
}

.sidebar_menu{
    position: fixed;
    left: -450px;
    height: 100%;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.508);
    transition: all 0.3s linear 0s;
}

.sidebar_menu .logo {
    position: absolute;
    height: 40px;
    width: 100%;
    line-height: 40px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.79);
}

.sidebar_menu .logo a{
    position: absolute;
    text-decoration: none;
    left: 130px;
    color: white;
    font-size: 25px;
}

.sidebar_menu .menu{
    position: absolute;
    color: white;
    width: 100%;
    top: 60px;

}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 15px 10px;

}

.sidebar_menu .menu i , a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 5px;
}

.sidebar_menu .social_media{
    position: absolute;
    color:rgb(255, 255, 255);
    left: 22%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    padding: 0px 5px;
    opacity: 0.5;
    transition: hover 2s normal 3s ;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two{
    opacity: 1;
}

.sidebar_menu .social_media i:hover{
    transform: scale(1.5);
    opacity: 1;
}

.btn_one:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
}

.sidebar_menu .btn_two:hover{
    transform: scale(1.1);
}