.container{
    width: 600px;
    height: 300px;
    border: none ;
    background-color: bisque;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns:  repeat(3,1fr);  
    grid-gap: 10px;

    justify-items: center; /* horizontal alignment */
}

div {
    width: 100px;
    height: 50px; 
    border: 1px solid black;
    text-align: center;
    background-color: greenyellow;
    
}

.container1{
    width: 600px;
    height: 300px; 
    border: none ;
    background-color: bisque;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    place-items: end;  /* horizontal & vertical both together */
}

.item1 {

    justify-self: center; /* horizontal self align */
    align-self: center;  /* vertical align self */
}

.item11 {
    place-self: center;     /* horizontal & vertical both together */
}