#column{
    /* background-color: pink; */
    height: 500px;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;

}

.header{
    background-color: pink;
    grid-column: 1/13;
}

.sidebar{
    background-color: pink;
    grid-column: 1/4;
    grid-row: 2/12;
}

.nav{
    background-color: pink;
    grid-column: 4/10;
    grid-row: 2/3;
}

.main{
    background-color: pink;
    grid-row: 3/12;
    grid-column: 4/ span 6;
}

.ads{
    background-color: pink ;
    grid-column: 10/13;
    grid-row: 2/span 10;
}

.footer{
    background-color: pink;
    grid-column: 1/span 12;
    grid-row: 12/span 1;
}