button:hover{
    color:red;
    background-color: antiquewhite;
}

button:active{
    color: bisque;
    background-color: black;
}

input[type="radio"]:checked + label{ /*input + label to change both cause they have sibling relationship */
    color: green;
    font-weight: bold;
}

div:nth-of-type(2n) {
   background-color: cadetblue;
}