.container{
    width: 600px;
    height: 300px;
    background-color: bisque;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns:  auto auto auto;  /* divide into equal sapce (might not work in some case cause it respective to text) */
}

.item {
/*     width: 100px;
    height: 50px; */
    border: 1px solid black;
    text-align: center;
    background-color: greenyellow;
}

.container1{
    width: 600px;
    height: 300px;
    background-color: bisque;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}