section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    background-color: #75B9BE;
    margin: 20px;
}
div:nth-of-type(2n){
    
    background-color: #D0D6B5;
}

/* Transform */
#one{
    transform: rotate(-45deg);
}

#two{
    transform: rotate(180deg);
}