section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    background-color: #75B9BE;
    margin: auto;
    margin-top: 20px;
}
div:nth-of-type(2n){
    
    background-color: #D0D6B5;
}

/* Transform */
#one{
    transform: translate(30px,30px);  /* both direction X Y */
}

#two{
    transform: translateX(30px) ;  /* Along X */
}

#three {
    transform: translateY(30px);  /* Along Y */
}