section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    background-color: #75B9BE;
    margin: 20px;
}
div:nth-of-type(2n){
    
    background-color: #D0D6B5;
}

/* Transform */
#one{
    transform: skew(30deg); 
}

#two{ 
    transform: skew(90deg); /* The element becomes infinitely stretched and disappear */
}

#three {
    transform: skew(-30deg);
}