p a{
    color: red;
}

/*using class converting last buttons rather than whole*/
.abc button{
    color: aquamarine;
}

nav a {  /*directly can be written doesn't required (nav ul li a) */ 
    text-decoration: wavy underline;
}