.loader {
    height: 100px;
    width: 100px;
    border: 12px solid rgb(190, 189, 189);
    border-top: 12px solid goldenrod;
    border-radius: 50%;
}

@keyframes load {
    from{
        transform: rotate(0 deg);
    }
    to{
        transform: rotate(360 deg);
    }
}